<h1>Cats By Color</h1>
<%= pie_chart Cat.group(:color).count %>
<p class="lead text-center">Breakdown</p>
<h1>Cats By Age</h1>
<%= pie_chart Cat.group(:age).count %>
<p class="lead text-center">Breakdown</p>
<h1>Cats By Characteristic</h1>
<%= pie_chart Cat.group(:characteristics).count %>
<p class="lead text-center">Breakdown</p>
<h1>Cats By Gender</h1>
<%= pie_chart Cat.group(:gender).count %>
<p class="lead text-center">Breakdown</p>